__pycache__/
tests/
.vscode/
.pytest_cache/

docs/*.aux
docs/*.bbl
docs/*.blg
docs/*.dvi
docs/*.fdb_latexmk
docs/*.fls
docs/*.glo
docs/*.log
docs/*.out
docs/*.pdf
docs/*.synctex.gz
docs/*.toc
docs/*.md5
docs/*.auxlock
docs/*(busy)
# Generate the image files with gen_diagram.py and place needed csv files in docs folder
docs/**/*.png